<div class="col-md-6">
    <div class="row mb-5">
        <div class="col-md-12">
            <h2 class="h3 mb-3 text-black text-center">Your Order</h2>
            <hr>
            <div class="p-3 p-lg-5">
                <table class="table site-block-order-table mb-5">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.items.all %}
                        <tr>
                            <td>
                                {{ item.size.name }}, {{ item.colour.name }} {{ item.product.title }}
                                <strong class="mx-2">x</strong> {{ item.quantity }}
                            </td>
                            <td>
                                ${{ item.get_total_item_price }}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><strong>Subtotal</strong></td>
                            <td>${{ order.get_subtotal }}</td>
                        </tr>
                        <tr>
                            <td><strong class="text-black font-weight-bold">Order Total</strong></td>
                            <td>
                                <strong class="text-black font-weight-bold">
                                    ${{ order.get_total }}
                                </strong>
                            </td>
                        </tr>
                    
                        
                        <tr>
                            <form action="{% url 'cart:add-coupon' %}" method="POST">
                                {% csrf_token %}
                                <td>
                                    {{ couponform.code }}
                                    <button class="btn btn-outline-secondary btn-sm shadow-none" type="submit" style="padding: 0;
                                    border: none;">Redeem</button>
                                </td>
                            </form>
                        </tr>
                        <tr>
                            <td>
                                <div class="text-success">
                                    <h6 class="text-success" >{{order.coupon.code}}</h6>
                                </div>
                            </td>
                            <td>
                                <span class="text-success"> - {{order.coupon.amount}}%</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>